//App Main Styles - CSS parts

// Global
@import './partials/vars';
@import './partials/default';
@import './partials/utilities';

//Sections
@import './partials/header';
@import './partials/stylecards';
@import './partials/button';
