/* Colours */
/* Typography */
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1919;
  font-family: "Nunito", sans-serif;
}

/* Utilities */
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.pad {
  padding-top: 1.1rem;
}

.pad-bot {
  padding-bottom: 1.1rem;
}

header {
  background-color: #fff;
}

.container {
  align-items: center;
}
.container a img {
  width: 80px;
  align-items: center;
  padding-right: 1rem;
}
.container .main-navigation ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.container .main-navigation a {
  display: inline-block;
  padding: 0.7rem;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 800;
  color: #3b3b3b;
}
.container .main-navigation a.active {
  background: #4e4e03;
}

/* Cards */
.wrapper {
  flex-direction: column;
}

.cards {
  flex-wrap: wrap;
  padding-top: 4rem;
}
.cards .card {
  flex-basis: calc(100% / 6 - 8px);
  padding-bottom: 60px;
  color: #fff;
}
.cards .card h3 {
  padding-top: 10px;
  color: #fff;
  font-size: 0.6rem;
}
.cards .card img {
  width: 150px;
}

.load-button {
  align-self: center;
  width: 10rem;
  padding: 0.4rem 2.2rem;
  background-color: #1E90FF;
  font-size: 0.7rem;
  font-weight: 800;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
}