// Header

header {
    background-color: #fff;
}

.container {
    align-items: center;
    a {
        img {
            width: 75px;
            align-items: center;
            padding-right: 1rem;

        }
    }
    .main-navigation {
        ul {
            display: flex;
            justify-content: center;
            list-style: none;
        }
        a {
            display: inline-block;
            padding: 0.6rem;
            font-size: 0.8rem;
            text-decoration: none;
            font-weight: 800;
            color: $gray;
            &.active{
                background: rgb(78, 78, 3);
            }
        }
    }
}

